{% extends 'aichat_users/layout.html' %}

{% block title %}
    Request password reset
{% endblock %}

{% block main %}
    <div class='container-fluid pt-2 pb-5'>

        <!-- instructional text -->
        <div class='container-fluid ps-0 mb-1'>
            <div class='container-instructions-start-bold'>
                Please enter your email address below. If the email address you provide is registered, you will receive an email with instructions to reset your password. Please do not forget to check your spam folder!
            </div>
            <div class='container-instructions-start'>
                Required fields
            </div>
        </div>
        <!-- /instructional text -->

        <!-- PasswordReset form -->
        <form action='{% url "aichat_users:password_reset" %}' id='PasswordResetForm' method='post'>
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <!-- email -->
            <div class='user_input_registration row'>
                <div class='col-sm-2 user-input-registration-label'>
                    <label for='email' class='form-label-start-req-bold'>Email address:</label>
                </div>
                <div class='col-11 col-sm-8 col-md-6 col-lg-4'>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class='text-danger mt-2'>
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- /email -->

            <!-- cancel and submit buttons-->
            <div class='row'>
                <div class='col-sm-6 col-md-4 col-lg-3 mb-1'>
                    <a href='{% url "aichat_users:login" %}' class='btn btn-secondary w-100 mt-1 mb-1' id='cancel_button'>Cancel</a>
                </div>
                <div class='col-sm-6 col-md-4 col-lg-3 mb-1'>
                    <button type='submit' class='btn btn-success w-100 mt-1 mb-1' id='submit-button' disabled>Reset password</button>
                </div>
            </div>
            <!-- /cancel and submit buttons-->

        </form>
        <!-- PasswordReset form -->

    </div>
{% endblock %}