{% extends 'aichat_users/layout.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class='container-fluid pt-2 pb-5'>

    <!-- Instructional text -->
    <div class="container-fluid ps-0 mb-1">
        <div class="container-instructions-start-bold">
            Please complete all the fields below and click "submit" to change your password.
        </div>
        <div class="container-instructions-start">
            Required fields
        </div>
    </div>
    <!-- /Instructional text -->

    <!-- password_change -->
    <form action='{% url "aichat_users:password_change" %}' id='PasswordChangeForm' method='post'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <!-- password_old -->
        <div class='user_input_registration row'>
            <div class='col-sm-2 user-input-registration-label'>
                <label for='password_old' class='form-label-start-req-bold'>Current password:</label>
            </div>
            <div class='col-sm-8 col-md-6 col-lg-4'>
                {{ form.password_old }}
                {% if form.password_old.errors %}
                    <div class='text-danger mt-2'>
                        {% for error in form.password_old.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- /password -->
        
        <!-- password -->
        <div class='user_input_registration row'>
            <div class='col-sm-2 user-input-registration-label'>
                <label for='password' class='form-label-start-req-bold'>New password:</label>
            </div>
            <div class='col-sm-8 col-md-6 col-lg-4'>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class='text-danger mt-2'>
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class='user-input-validation row'>
            <label class='col-sm-2 form-label-start-req-bold'></label>
            <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation text-danger' id='password_validation' name='password_validation'>
                <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation-pw-bullets'>
                    <span class='text-dark'>Password must:</span>
                    <ul>
                        <li id='pw-min-tot-chars-li' name='pw-min-tot-chars-li'>Include at least {{ pw_req_length }} characters total, including at least: 
                        
                        <li class="custom-bullet-secondary" id='pw-min-letters-li' name='pw-min-letters-li'>{{ pw_req_letter }} letters</li>
                        
                        <li class="custom-bullet-secondary" id='pw-min-num-li' name='pw-min-num-li'>{{ pw_req_num }} numbers</li>
                        
                        <li class="custom-bullet-secondary" id='pw-min-sym-li' name='pw-min-sym-li'>{{ pw_req_symbol }} symbols from the following list: {{ user_input_allowed_symbols }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /password -->
        
        <!-- password_confirmation -->
        <div class='user_input_registration row'>
            <div class='col-sm-2 user-input-registration-label'>
                <label for='password_confirmation' class='form-label-start-req-bold'>New password confirmation:</label>
            </div>
            <div class='col-sm-8 col-md-6 col-lg-4'>
                {{ form.password_confirmation }}
                {% if form.password_confirmation.errors %}
                    <div class='text-danger mt-2'>
                        {% for error in form.password_confirmation.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class='user-input-validation row'>
            <label class='col-sm-2 form-label-start-req-bold'></label>
            <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation text-danger' id='password_confirmation_validation' name='password_confirmation_validation'>
                <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation-pw-bullets'>
                    <span class='text-dark'>Password confirmation must:</span>
                    <ul>
                        <li id='password-confirmation-validation-match' name='password-confirmation-validation-match'>Match password</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /password_confirmation -->

        <!-- cancel and submit buttons-->
        <div class='row mb-3'>
            <div class='col-sm-6 col-md-4 col-lg-3 mt-1'>
                <a href='{% url "aichat_users:index" }' class='btn btn-secondary w-100'>Back</a>
            </div>
            <div class='col-sm-6 col-md-4 col-lg-3 mt-1'>
                <button type='submit' class='btn btn-success w-100' id='submit-button' disabled>Submit</button>
            </div>
        </div>
        <!-- /cancel and submit buttons-->

    </form>
    <!-- /Password change -->

</div>
{% endblock %}