{% extends 'aichat_users/layout.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    Password reset
{% endblock %}

{% block main %}
    <div class='container-fluid pt-2 pb-5'>

        <!-- instructional text -->
        <div class='container-fluid ps-0 mb-1'>
            <div class='container-instructions-start-bold'>
                Please enter your new password below.
            </div>
            <div class='container-instructions-start'>
                Your new password must not match your existing password.
                <br>
                Required fields.
            </div>
        </div>
        <!-- /instructional text -->

        <!-- password change form -->
        <form action='{% url "aichat_users:password_reset_confirmation" %}' id='PasswordResetConfirmationForm' method='post'>
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <!-- hidden fields containing the token and email in the url -->
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="email" value="{{ email }}">
            <!-- /hidden fields containing the token and email in the url -->
            
            <!-- password -->
            <div class='user_input_registration row'>
                <div class='col-sm-2 user-input-registration-label'>
                    <label for='password' class='form-label-start-req-bold'>Password:</label>
                </div>
                <div class='col-11 col-sm-8 col-md-6 col-lg-4'>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class='text-danger mt-2'>
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class='user-input-validation row'>
                <label class='col-sm-2 form-label-start-req-bold'></label>
                <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation'id='password_validation' name='password_validation'>
                    <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation-pw-bullets'>
                        <span class='text-dark'>
                            {% trans "Your password must satisfy the following requirements" %}:
                        </span>
                        <ul>
                            <li class='text-taken' id='pw-min-tot-chars-li' name='pw-min-tot-chars-li'>
                                {% trans "Include at least" %}: {{ pw_req_length }} {% trans "characters total, including at least" %}: 
                            
                            <li class='custom-bullet-secondary text-taken' id='pw-min-letters-li' name='pw-min-letters-li'>
                                {{ pw_req_letter }} {% trans "letters" %}
                            </li>
                            
                            <li class='custom-bullet-secondary text-taken' id='pw-min-num-li' name='pw-min-num-li'>
                                {{ pw_req_num }} {% trans "numbers" %}
                            </li>
                            
                            <li class='custom-bullet-secondary text-taken' id='pw-min-sym-li' name='pw-min-sym-li'>
                                {{ pw_req_symbol }} {% trans "symbols" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /password -->

            <!-- password_confirmation -->
            <div class='user_input_registration row'>
                <div class='col-sm-2 user-input-registration-label'>
                    <label for='password_confirmation' class='form-label-start-req-bold'>Confirm password:</label>
                </div>
                <div class='col-11 col-sm-8 col-md-6 col-lg-4'>
                    {{ form.password_confirmation }}
                    {% if form.password_confirmation.errors %}
                        <div class='text-danger mt-2'>
                            {% for error in form.password_confirmation.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class='user-input-validation row'>
                <label class='col-sm-2 form-label-start-req-bold'></label>
                <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation' id='password_confirmation_validation' name='password_confirmation_validation'>
                    <div class='col-sm-8 col-md-6 col-lg-4 container-input-validation-pw-bullets'>
                        <span class='text-dark'>
                            {% trans "Your password confirmation must satisfy the following requirements" %}:
                        </a>
                        <ul>
                            <li class='text-taken' id='password-confirmation-validation-match' name='password-confirmation-validation-match'>
                                {% trans "It must match your password" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /password_confirmation -->

            <!-- cancel and submit buttons-->
            <div class='row'>
                <div class='col-sm-6 col-md-4 col-lg-3 mt-1 mb-1'>
                    <a href='{% url "aichat_users:login" %}' class='btn btn-secondary w-100' id='cancel_button'>Cancel</a>
                </div>
                <div class='col-sm-6 col-md-4 col-lg-3 mt-1 mb-1'>
                    <button type='submit' class='btn btn-success w-100' id='submit-button' disabled>Submit</button>
                </div>
            </div>
            <!-- /cancel and submit buttons-->

        </form>
        <!-- /password change form -->

    </div>
{% endblock %}